# Sistema / editor
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# Node / Python / Ruby / Jekyll
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_site/

# Docker
*.tar
docker-compose.override.yml

# Kubernetes / GKE
.kube/
*.kubeconfig

# Google Cloud SDK (no subir al repo)
google-cloud-sdk/
google-cloud-cli-*.tar.gz

# Logs
*.log

# Editor / IDE
.idea/
.vscode/
*.iml

