<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; Desbroces Pontevedra 2023
    </p>
    <ul class="text-center">
      <li><a href="/politica-privacidad/" class="text-white">Política de Privacidad</a></li>
      <li><a href="/terminos-condiciones/" class="text-white">Términos y Condiciones</a></li>
      <li><a href="/aviso-legal/" class="text-white">Aviso Legal</a></li>
    </ul>
  </div>
  <!-- /.container -->
</footer>

